{%extends "base.html"%}
{%block search_bar%}
<div class='container'>
    <div class="row text-center">
        <h1>JOBS ARE OUR JOB.</h1>
    </div>
    <div class="d-flex justify-content-around mt-3">
        <form  action = "{%url 'get_query'%}"  id = "job_query_form" class = "form-inline row row-cols-xl-auto g-3 align-items-center"> {% csrf_token %}
            <div class = "col">
            <label class = "visually-hidden">Job</label>
            <input type = "search" required  name = "job_search" class = "form-control typeahead search-box__field search-box__field-what typeahead__input border-1 border-success" placeholder ="Job" style="background-color: transparent;" value = {{job_search}}>

            </div>
        
            <div class="col-md-auto">
            <label class = "visually-hidden">Place</label>
            <input type = "search" name = "place_search" class = "form-control typeahead search-box__field search-box__field-what typeahead__input border-1 border-success" placeholder ="Place" style="background-color: transparent;" value = {{place_search}}>

            </div>
        
            <div class="col">
            <div class="form-check">
                <input class="form-check-input" name="remote_search" type = "checkbox" {{remote_search}}>
                <label class="form-check-label" >
                Remote
                </label>
            </div>
            </div>
        
            <div class="col">
            <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </form>
    </div>
</div>
<div class= "container mt-4"> 
{%block search_result%}{%endblock search_result%}
</div>
{%endblock search_bar%}

