{%extends "base.html"%}

{%block search_bar%}
<div class='container'>
    <div class="row text-center">
        <h1>JOBS ARE OUR JOB.</h1>
    </div>
    <div class="d-flex justify-content-around mt-3">
        <form  action = "{%url 'get_query'%}" class = "form-inline row row-cols-xl-auto g-3 align-items-center" method = "get"> {% csrf_token %}
            <div class = "col">
            <label class = "visually-hidden">Job</label>
            <input type = "search" required name = "job" class = "form-control typeahead search-box__field search-box__field-what typeahead__input" placeholder ="Job" value = "{{job}}" style="background-color: transparent;">

            </div>
        
            <div class="col-md-auto">
            <label class = "visually-hidden">Place</label>
            <input type = "search" name = "place" class = "form-control typeahead search-box__field search-box__field-what typeahead__input" placeholder ="Place" value = "{{place}}" style="background-color: transparent;">

            </div>
        
            <div class="col">
            <div class="form-check">
                <input class="form-check-input" name="remote" type="checkbox">
                <label class="form-check-label" >
                Remote
                </label>
            </div>
            </div>
        
            <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class= "container"> 
{%block search_result%}{%endblock search_result%}
</div>
{%endblock search_bar%}

